* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgba(135, 180, 193, 0.548) 65%,rgba(7, 71, 91, 0.74)35%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-card {
    background:-moz-repeating-radial-gradient();
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.256);
    width: 100%;
    text-align: center;
    z-index: 100;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #555;
}

input {
    background: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(7, 71, 91, 0.74);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color:rgba(24, 93, 149, 1);
}

button {
    width: 100%;
    padding: 10px;
    background-color:  rgb(7, 71, 91);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgba(7, 71, 91, 0.74);
}

.signup{
    padding: 25px;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
    }
}
